/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #b3a369;
  --ifm-color-primary-dark: #a99756;
  --ifm-color-primary-darker: #a08f51;
  --ifm-color-primary-darkest: #847643;
  --ifm-color-primary-light: #bdaf7c;
  --ifm-color-primary-lighter: #c1b485;
  --ifm-color-primary-lightest: #c0b383;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-footer-background-color: #b3a369;
  --ifm-font-family-base: Arial, Helvetica, sans-serif;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b3a369;
  --ifm-color-primary-dark: #a99756;
  --ifm-color-primary-darker: #a08f51;
  --ifm-color-primary-darkest: #847643;
  --ifm-color-primary-light: #bdaf7c;
  --ifm-color-primary-lighter: #c1b485;
  --ifm-color-primary-lightest: #c0b383;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.hero {
  background-image: url("/static/img/Sci_Solar.png");
  background-size: cover;
  color: #ffffff;
  background-color: #ffffff00;
}


.hero > .info {
  /* From https://css.glass */
/* background: rgb(255, 255, 255); */
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(30px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(255, 255, 255, 0.13);
width: 60%;
padding: 20px 20px 20px 20px;
}

.hero > .carousel {
  width: 30%;
}

.tweets {
  width: 100%;
  padding: 0 0 2rem 0;
  margin: 0 auto;
}

.new_title {
  padding: 1rem 0;
}

@media screen and (max-width: 600px) {
  .carousel {
      display: none;
  }

  .hero > .info {
    width: 200%;
  }
}